  .galleryCol{
  overflow: hidden;
  }

  .galleryCol img {
  width: 100%;
  height: 100%;
  margin-bottom:-5px ;
  transition: all 0.3s ease-out; 
  }

  .galleryCol:hover img{
  transform: scale(1.2,1.2); 
  }