.banner{
    background-image: url(../../../Images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.bannerBtn{

color: black;
}
.bannerBtn:hover{
    background: linear-gradient(90deg, rgba(198,27,97,1) 0%, rgba(74,89,173,1) 50%, rgba(7,195,157,1) 100%);}