.banner{
    height: 100vh;
    background-image: url(../../../Images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}