.aboutService{
 margin-top: -100px;
}
.aboutBg1{
    background-color: rgba(209, 24, 101, 0.972) 
}
.aboutBg2{
    background-color: rgba(74, 89, 173, 0.972) 
}
.aboutBg3{
    background-color:rgba(7, 195, 157, 0.972)
}